body{
    font-family: 'Montserrat',sans-serif;
    font-weight:900;
}

#title{
    background-color: #ff4c68;
}

.container-fluid{
    padding:3% 15%;
}

h1{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color:white;

}
h2{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    
}

nav{
    margin-right: 10%;
    
}
.navbar{

    padding-bottom : 4.5rem;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 40px;
}

.nav-link{
    font-weight: 300;
    font-size: 1.2rem;
}

.download{
    margin: 5% 3% 5% 0 ;
}

.title-img{
    width:60%;
    transform: rotate(25deg);
    position:absolute;

}
.new{
    position:relative;
}

.col-lg-4{
    text-align: center;
    padding:5%;
}

.icon{
    color:#ef8172;
    margin-bottom: 1.5rem;
}

.icon:hover{
    color:#ff4c68;
}

h3{
    font-weight: 900;
    font-size: 1.5rem;
}

#features{
   padding:8% 15%;
   background-color: #fff;
   position:relative;
   z-index: 1;
}

p{
    color: #8f8f8f;
    font-weight: 500;
}

#testimonials{
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}

.testimonial-image{
    width:10%;
    border-radius: 100%;
    margin:20px;
}
.testimonial-text{
    font-size: 2rem;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;
}

.carousel-item{
    padding:7% 15%;
}

#pricing{
    margin:5% 10%;
    text-align: center;
}

@media (max-width: 1305px){
    #title{
        text-align: center;
    }
    .title-img{
        transform: rotate(0);
        position:static;
    }
}

#cta{
    background-color: #ff4c68;
    color:#fff;
    text-align: center;
    padding:5% 15%;
    line-height: 1.5;
}

#cta h3{
    font-size: 2.5rem;
}

#footer{
    text-align: center;
    margin:100px auto;
}

.icon_foot{
    margin: 0 1rem;
}

#footer p{
    margin-top: 2rem;
    font-weight: bold;
}